<ion-view view-title="Page Content">
  <ion-content>
    <div class="list card">
	  <div class="item item-avatar">
	    <img ng-src="{{siteDataObject.thumbnail}}">
	    <p>{{siteDataObject.title_plain}}</p>
	    <h2>{{siteDataObject.author.nickname | uppercase}}</h2>
	    <p>{{siteDataObject.date | date}}</p>
	  </div>
	  <div class="item item-body">
	    <img class="full-image" ng-src="{{siteDataObject.thumbnail_images.square.url}}">
	    <p>
	      <!-- {{siteDataObject.content | htmlToPlaintext }} -->
	      <span>{{testCharacter}}</span>
	      <span>{{siteDataObject.content | htmlToPlaintext }}</span>
	    </p>
	    	
	    <p>
	    
      		<!-- <a href="#" class="subdued" ng-click="showModal()">7 Comments</a> -->
      		<button class="button button-right button-balanced" ng-click="openModal(1)">	
      		<i class="icon icon-right ion-chatboxes"></i>{{siteDataObject.comments.length}} Comment(s)
      		</button>
      		<button class="button button-balanced" ng-click="openModal(2)">	
      		<i class="icon icon-right ion-forward"></i>Post Comment Here
      		</button>
	    </p>
	  </div>
	</div>
  </ion-content>
</ion-view>